html, body {
	font-family: Arial, sans-serif;
	margin: 0;
}

header {
	background-color:#00004C;
	padding: 40px;
	text-align: center;
	display: block;

}
h1 {
	font-size: 90px;
	color: #CC0000;
	font-family: Arial, sans-serif;
}

header img {
    border-radius: 178px;
    width: 200px;
    border: 24px solid #F6EB16;
    margin: auto;
}


.content {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image {
	max-width: 100%;
}
p.caption {
	font-size: 16px;
	color: red;
	font-style: italic;
}

ul 
	list-style: none;
	padding: 0;
	margin-bottom: : 2px;
}

a{
	color: red;
	text-decoration: none;
}

footer {
	margin-top: 20px;
	padding: 40px 20px;
	background-color: light-grey;

}

footer ul{
	text-align: center;

}	

footer ul li {
	display: inline-block;
	margin: 0 5px;
}