body{
	background-color: lightgrey
}

h1 {
			color: yellow;
			font-size: 90px;
			text-decoration: underline;
		}
 h2{
		 	color: green;
		 	font-size: 22px;
		 }

.small {
		 	font-size: 12px;
		 }